header {
    height: 400px;
    width; 100%;
    background-color: grey;

}

h1{
    font-size: 48px;
    text-align: center;
    font-family: Helvetica, sans-serif

}

h2 {
    font-size: 16px;
    text-align: center;
    font-family: Helvetica, sans-serif

}

p  {
    font-size: 22px;
    width: 800px;
    padding: 0px, 0px, 0px, 30px;
    display: block;
    word-wrap: break-word;
    align: top;

}

img {
    float: left;
    align: top;
    padding-right: 20px;

}

#headline {
    font-size: 30px;
}

table, th {
    border: 2px solid black;
    text-align: left;
}

td {
    border: 1px solid black;
    text-align: left;
}
input [type="text"]{
    width:250px;
    height:30px;
    border-radius:4px;
    border:1px solid #999999;
    padding:10px;
}

input [type="radio"]{
    width:100px;
    padding: 10px;
}

#smaller {
    font-size: 14px;
    
}